.container
  - if @currencies.is_a?(Array) && @currencies.any?
    .panel.panel-default.panel-primary
      .panel-heading
        %h3.panel-title Currencies
      .panel-body
        %table.table.table-bordered
          %thead
            %tr
              %th Name
              %th Country Code
              %th Currency
              %th Currency Code
              %th
          %tbody
            - @currencies.each do |currency|
              %tr
                %td= currency['Name']
                %td= currency['CountryCode']
                %td= currency['Currency']
                %td= currency['CurrencyCode']
                %td
                  = link_to 'Edit', '#', class: 'btn btn-primary'
                  = link_to 'Remove', '#', class: 'btn btn-danger'

  - else
    Sorry, no data available
    = @currencies.to_s
