.container
  - if @countries.any?
    .col-md-6= render 'filter'
    .col-md-6
      .btn-group.pull-right
        = link_to 'Countries to visit', countries_path(visited: false), class: 'btn btn-primary'
        = link_to 'My trips', trips_countries_path, class: 'btn btn-primary'
    .clearfix
    .panel.panel-default.panel-primary
      .panel-heading
        %h3.panel-title Countries
      .panel-body
        %table.table.table-bordered
          %thead
            %tr
              %th Name
              %th Country Code
              %th Currency
              %th Currency Code
              %th
          %tbody
            - @countries.each do |country|
              %tr
                %td= country.name
                %td= country.country_code
                %td= country.currency_name
                %td= country.currency_code
                %td{data: { country: { name: country.name } } }
                  = render 'visited_button', country_id: country.id, visited: country.visited?

  - else
    = link_to 'Load data', load_data_countries_path, method: :post, class: 'btn btn-primary'
