!!!
%html
  %head
    = csrf_meta_tags

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

  %body
    %header
      .container-fluid
        .navbar-header.navbar-header-large
          %ul.nav.navbar-nav.pull-left
            %li= link_to 'Home', root_path
            %li= link_to 'Countries', countries_path
            %li= link_to 'Trips', trips_path
        .navbar-sub-header
        %ul.nav.navbar-nav.pull-right
          %li
            - if user_signed_in?
              = link_to current_user.email, destroy_user_session_path, method: :delete
            - else
              = link_to "Sign in", new_user_session_path
        .clearfix

    %header.navbar.navbar-default.navbar-static-top{role: "navigation"}
      .container-fluid
        %button.navbar-toggle{class: 'pull-left'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

    %section
      .container-fluid
        = yield
